# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Compiled python
**/__pycache__/**
*.pyc

# Data files
*.json
*.chkpnt
*.dat

# Doxygen documentation
doxygen/output/*

# Compiled submodules
src/submodules/bin/*

# Log files
*.log

# Exe
chsolver
test_all
CH-docs.pdf
*.png
*.gif
*.mp4
test

# Unit tests additional
tests/unit_tests/*.F90
tests/unit_tests/*.inc

# Other
**/.DS_Store
*.png
*.mp4
*.gif

#python enviroment
chenv
